<% @list.bookmarks.each do |bookmark| %>

  <div class="card-trip d-flex flex-column justify-content-between">

    <img src="<%=bookmark.movie.poster_url%>"/>

    <div class="card-trip-infos">
      <div>
        <div class="movie-header">
          <p class="my-2"> <strong><%= bookmark.movie.title %></strong> - <%= bookmark.movie.rating %></p>
          <p class="textarea"><%= bookmark.movie.overview %></p><br>
        </div>


      </div>
    </div>
    <div class="movie-footer d-flex justify-content-between">
          <p><strong>
            <i class="fas fa-quote-left"></i>
            <%= link_to bookmark.comment, edit_list_bookmark_path(bookmark), style: "color: black; font-size: 12px;" %>
          </strong></p>

          <%= link_to "Delete",
                    bookmark_path(bookmark),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
        </div>
  </div>
<% end %>
