 <div class="container">
  <h1>Create a list</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.label 'Comment here:' %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
